<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Finlog Mobile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<script>
		var userAgent = navigator.userAgent + '';
		if (userAgent.indexOf('iPhone') > -1) {
			document.write('<script src="js/lib/cordova-iphone.js"></sc' + 'ript>');
			document.write('<script src="js/app/ios.js"></sc' + 'ript>');
			document.write('<link rel="stylesheet" href="css/ios.css" />');
			var mobile_system = 'iphone';
		} else if (userAgent.indexOf('Android') > -1) {
			document.write('<script src="js/lib/cordova-android.js"></sc' + 'ript>');
			document.write('<script src="js/app/android.js"></sc' + 'ript>');
			document.write('<link rel="stylesheet" href="css/android.css" />');
			var mobile_system = 'android';
		} else {
			var mobile_system = '';
      document.write('<script src="cordova.js"></sc' + 'ript>');
		}
    var click_event = 'mousedown';
    if(mobile_system) {
      click_event = 'touchstart'
    }
	</script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  
  <script src="bower_components/jquery-ui/minified/core.min.js"></script>
  <script src="bower_components/jquery-ui/minified/widget.min.js"></script>
  <script src="bower_components/jquery-ui/minified/mouse.min.js"></script>
  <script src="bower_components/jquery-ui/minified/draggable.min.js"></script>
  <script src="bower_components/jquery-ui/minified/droppable.min.js"></script>

  <script type="text/javascript" src='js/jquery.ui.touch-punch.js'></script>
  <!-- your scripts here -->
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="backbone/pennykeep.models.js"></script>
  <script src="backbone/pennykeep.views.js"></script>
  <script src="backbone/pennykeep.router.js"></script>
  <script src="backbone/pennykeep.app.js"></script>

  <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
  <link rel="stylesheet" href="backbone/pennykeep.app.css" />


</head>
<body>
  <!---
  <div style='position: absolute;width:320px;height:480px;border:1px solid black;z-index:100;'></div>
  -->
  
  <div id="navigation">
    <div id='ajax_overlay' style='position:fixed;width:100%;height:100%;background:rgba(0,0,0,0);z-index:100;display:none'>
      <img src=css/images/ajax-loader.gif style='float:right'>
    </div>
  </div>

	<div id="content">
	</div>

	<div class="navigation_bottom transaction_edit">
		  <input type=submit id="update_btn" 
		    onclick='$("form.transaction").submit()' 
		    ontouchstart='$("form.transaction").submit()' 
		    class='button small-3' value='update'>

		  <input type=submit id="delete_btn" 
		    onclick='transactionView.deleteTransaction()' 
		    ontouchstart='transactionView.deleteTransaction()' 
		    class='button alert small-3' value='delete'>
	</div>

	<div class="navigation_bottom transaction_create">
		  <input type=submit id="create_btn" 
		    onclick='$("form.transaction").submit()' 
		    ontouchstart='$("form.transaction").submit()' 
		    class='button small-3' value='create'>
	</div>

	<div class="navigation_bottom main">
    <a href="#accounts" class='button small-3'>accounts</a>
    <a href="#stats" class='button small-3'>statistics</a> 
    <a href="javascript:sign_out()" class='button small-3'>sign out</a>
  </div>

	<script type='text/template' id=acc_folder_template>
	  <div class="folder" data-folder-type=<%= rec.account_type %>>
		  <div class="header">
	  	  <div class="toggle">&nbsp;</div>
			  <%= rec.account_type %>
		  </div>
		  <div class=accounts></div>
		  <div style='clear:both'></div>
	  </div>
	</script>

	<script type='text/template' id=account_template>
      <div class="account ui-draggable ui-droppable" data-account-id="<%= rec.id %>"> 
         <div class="name">
           <%= rec.name %>
         </div>

         <div class="amount">
           <%= rec.current_amount %>
           <%= rec.currency %>
         </div>
      </div>
  </script>

	<script type='text/template' id=stats_line_template>
	  <div class='stats_line'>
		  <h7>from: <%= rec.from %></h7>
		  <br>

		  <a href="#stats/month/income/<%= line_index %>">
			  <label>
			     income: <%= rec.income %>
			  </label>
		  </a>

		  <div class='stat_graph income' style="width:<%= 100*rec.income/max %>px;"></div><br>

		  <a href="#stats/month/spend/<%= line_index %>">
		    <label>spend: <%= rec.spend %></label>
		  </a>
		   <div class='stat_graph spend' style="width:<%= 100*rec.spend/max %>px;"><br>
	  </div>
	</script>


	<script type='text/template' id=transaction_account_select>
				<option value=''>-</option>
				  <% _(recs).each(function(rec) { %>
				    <option value="<%= rec.id %>" 
            <% if(rec.id==selected) { %>
              selected
            <% } %>
				    ><%= rec.attributes.account_type + " - "+rec.attributes.name %></option>
				  <% }); %>
	</script>

	<script type='text/template' id=transaction_currency_select>
				  <% _(recs).each(function(rec) { %>
				    <input type=radio id=cur_<%= rec.attributes.name%> name=currency value="<%= rec.attributes.name %>" 
            <% if(rec.attributes.name==selected) { %>
            	checked
            <% } %>
				    >
				    <label for=cur_<%= rec.attributes.name %>><%= rec.attributes.name %></label>
				  <% }); %>
	</script>



	<script type='text/template' id=transaction_template>
	  <form class='transaction'>
	  	from account:
				<select id="from_account_id">
	  	   </select>
	  	to account:
				<select id="to_account_id">
	  	   </select>

      amount:

        <input type=text id=amount value="<%= rec.attributes.amount %>"><br>
	  	currency:
	  			<div id=currency_input>
	  			</div>
	  	 note:
	  	   <textarea id=note><%= rec.attributes.note %></textarea><br>
	  	 <% if(rec.id) { %>
	  	 time: 
	  	    <input type=text id=created_at value="<%= rec.attributes.created_at %>"><br>
	  	 <% } %>
	  </form>
	</script>

	<script type='text/template' id=account_transactions>
	  <table class=account_transactions>
	  <tr>
	  <th>time
	  <th>account
	  <th>note
	  <th>amount
	  </table>
	</script>

  <script type='text/template' id=month_stats_template>
     <table></table>
  </script>
	<script type='text/template' id=month_stats_line>
	<tr>
		<td><a href=#account_transactions/<%= rec.account.id %>/<%= month_ago %>><%= rec.account.name %></a>
		<td><%= Math.round(rec.amount) %>
		<td><div style='background:#000;width:<%= 100*rec.amount/max %>px;height:20px'></div>
	</script>

	<script type='text/template' id=account_transaction_template>
	  <tr class=line data-rec-id=<%= rec.id%>>
	    <td class=edit_trigger><%= (new Date(rec.created_at)).toUTCString() %>
	    <td><% if(rec.from_account.id!=acc_id) { %>
	       < <%= rec.from_account.name %>
	       <% }  else { %>
	       > <%= rec.to_account.name %>
	       <% } %>
	    <td><%= rec.note %>
	    <td><%= Math.round(rec.amount) %> <%= rec.currency %>
	</script>

</body>
</html>
