* {
    margin: 0;
    padding: 0;
}

.unselectable {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.folder .header {
    background: #ccc;
    font-size: 20px;
    position: relative;

}

.account {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.account div {
    position: relative;
    cursor: pointer;
}
.account div.name {
    height: 20px;
    overflow: hidden;
}
.account div.amount {
    margin-top: 5px;
}

#accounts .account {
    background: #ddd;
    border-radius: 8px;
    text-align: center;
    position: relative;
    float: left;
    width: 90px;
    overflow: hidden;
    height: 45px;
    margin: 2px 4px;
    padding: 2px 4px;
    padding-bottom: 10px;
}

.account.ui-draggable-dragging {
    z-index: 20;
}
.account input {
    cursor: pointer;
}

.account .name {
}

.transaction div {
    float: left;
    padding: 10px;
    cursor: pointer;
}

.folder .header .total {
    position: absolute;
    right: 20px;
    top: 8px;

}


#transaction_create.screen #form p {
    margin-bottom: 20px;
}

#transaction_create.screen #form .label {
    width: 100px;
    float: left;
}

#transaction_create.screen #form input, #transaction_create.screen #form select, #transaction_create.screen #form textarea {
    width: 200px;
    font-size: 20px;
}


#accounts #list .transaction_create {
  padding: 4px 20px;
  border: 1px solid;
  border-radius: 10px;

}

h1 {
    height: 60px;
}

.account.ui-draggable-dragging {
    opacity: 0.35;   
    cursor: pointer;
}


.account.accept-hover {
    opacity: 0.35;
}

.transaction_create {
    display: none;
}

body, div[data-role="page"] {
    margin: 0;
    padding: 5px;
}

.transaction.from_account {

}
.transaction {
    position: relative;
    height: 40px;
    border-bottom: 1px solid black;
}
.transaction.from_account {
    background-color: #ddd;
}

.transaction.to_account {
    font-weight: bold;

}

.transaction .account, .transaction .amount {
    min-width: 100px;
}
.transaction .date {
    width: 60px;
}

.account_transactions .header {
    height: 60px;
}

.folder .header {
    background-image: url(jquery.mobile/images/icons-png/carat-d-black.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}
.folder .header.shrinked {
    background-image: url(jquery.mobile/images/icons-png/carat-r-black.png);
    background-repeat: no-repeat;
}

#accounts #list .folder .header {
    text-align: center;
    cursor: pointer;
    margin: 2px;
    padding: 10px 10px; 
    border-radius: 4px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;  
}