.navigation_bottom a {
  padding: 16px 0px !important;
}

@media only screen and (max-width:500px) {
}

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.stat_graph {
	height: 12px;
	display: inline-block;
}

.stat_graph.spend {
	background: red;
}

.stat_graph.income {
	background: green;
}

.stats_line {
	margin: 10px;

}

.stats_line label {
	width: 100px;
    padding: 5px 0;
	display: inline-block;
}

body {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

}

#content {
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc( 100% - 50px);
}

.navigation_bottom {
  position:fixed;bottom:0;background:#ddd;height:50px;width:100%;text-align:center;font-size:30px;'
}

#content .folder .toggle {
    width: 40px;
    float: left;
}
.accounts .account {
    cursor: pointer !important;
}
#content .folder .account {
    background: #ddd;
    border-radius: 8px;
    text-align: center;
    position: relative;
    float: left;
    width: 70px;
    overflow: hidden;
    height: 42px;
    margin: 2px 2px;
    padding: 2px 2px;
    padding-bottom: 10px;

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

}

.account div.name {
    height: 18px;
    overflow: hidden;
}

#content {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;  
}

.ui-mobile-viewport {
    border:none !important; 
    outline:none !important; 

}
#content .folder .header {
    text-align: center;
    cursor: pointer;
    margin: 2px;
    padding: 2px 2px; 
    border-radius: 4px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;  
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.folder .header {
    background: #ccc;
    font-size: 20px;
    position: relative;

}


.folder .toggle {
    background-image: url(../jquery.mobile/images/icons-png/carat-d-black.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.folder .toggle.shrinked {
    background-image: url(../jquery.mobile/images/icons-png/carat-r-black.png);
    background-repeat: no-repeat;
}



.unselectable {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}


.account.ui-draggable-dragging {
    z-index: 20;
}

.account.ui-draggable-dragging {
    opacity: 0.35;   
    cursor: pointer;
}


.account.accept-hover {
    opacity: 0.35;
}

table.account_transactions th {
    background: #eee;   
}
table.account_transactions tr:hover td {
    background: #eee;
    cursor: pointer;
}


#currency_input label {
    font-size:18px;
}

#currency_input {
  margin-top: 10px;
}

table.account_transactions tr td {
    padding: 4px;

}